.container-button-primary {
  padding: 14px 16px;
  background: #1a4d6a;
  border-radius: 4px;
  width: 212px;
  height: 48px;
  color: white;
  text-align: center;
  border: none;
}

.container-button-secondary {
  padding: 14px 16px;
  background: white;
  border-radius: 4px;
  width: 212px;
  height: 48px;
  color: #1a4d6a;
  text-align: center;
  border: none;
}
