.form-control {
  margin: 20px 0px;
}

.form-control label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

.form-control select {
  width: 100%;
  height: 40px;
  margin: 5px 0px 5px 0px;
  padding: 3px 7px;
  font-size: 17px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
