.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 24px;
  height: 64px;
  width: auto;
  background: #1a4d6a;
}

.label-header {
  position: static;
  width: 44px;
  left: 24px;
  top: 31.25%;
  bottom: 31.25%;

  /* body medium / S */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* White */
  color: #ffffff;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
