.shadow-container {
  background-color: rgba(25, 25, 25, 0.6);
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.modal-container {
  width: 1054px;
  background-color: white;
  border-radius: 8px;
  margin: 24px auto;
  padding: 26px 0px 26px 0px;
  height: 700px;
  overflow: scroll;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 26px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .modal-container-mobile {
    width: 740px;
    background-color: white;
    border-radius: 8px;
    margin: 24px auto;
    padding: 26px 0px 26px 0px;
    height: 700px;
    overflow: scroll;
  }
}
