table {
  width: 100%;
  border-radius: 8px;
}

thead {
  background-color: #f8fafb;
}

thead tr th {
  padding: 32px 16px 32px 16px;
  text-align: left;
  color: #555555;
  font-weight: 500;
}

tbody tr td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #d3dfe5;
  color: #777777;
}
